
*
{
margin: 0px;
padding: 0px;
box-sizing: border-box;

}
#bigcontainer
{
    width:100%;
    
    margin: 0 auto;

  text-align: center;
  justify-content: center;
  align-items: center;
}
.container-fluid
{
 width:90%;
 height: 100%;

 text-align: center;
}
.row
{

justify-content: end;
align-items: normal;
padding: 16px;
}
.img
{

  width:10rem;
  height:10rem;
   margin: 0 100px;
   padding-top: 10px;
}


 .hr-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0px;
  font-size:38px;
  font-weight:bold;

}

.hr-with-text::before,
.hr-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 4px solid #e18484;; 
}

.hr-with-text:not(:empty)::before {
  margin-right: 10px;
}

.hr-with-text:not(:empty)::after {
  margin-left: 10px; 
}
.col 
{
border:1px solid grey;
 text-align:center;
 margin: 0 auto;
 display: flex;
 border-radius: 20px;
overflow: hidden;
padding: 10px;
}
.para
{
  width: 477px;
 margin: 28px 10px;
    }
    img
  {
border-radius: 16px;


  }
  @media (max-width: 807px) 
  {
   .col
  {
  display: block;
  }
  .img
  {
 margin: 0 auto;

  }
  .para
{
  margin: 0 auto;
  }
  } 

  @media (max-width:580px) 
  {
   .col
  {
  text-align: center;
  display: block;
padding: 20px;
  }
  .para
  {

   margin: 0 auto; 
  }
}








































































































