*{
    padding: 0px;
    margin:0px;
    box-sizing:border-box;
    }

    body
    {
   width: 100%;
   height: 100%;

    }


#bigcontainer
{
    width:100%;
    margin: 0 auto;
  text-align: center;
  
  justify-content: center;
  align-items: center;
}
.container-fluid
{
width:90%;;
 height: 100%;
 
 align-items: center;
 
 justify-content: center;
 
}
.col 
{
  width: 17rem;
    /* height: 15rem; */
border:1px solid grey;
  text-align:center; 
 margin: 0 auto;
 /* display: flex; */
 border-radius: 20px;
overflow: hidden;
padding:43px;

}
.img
{

  width: 8rem;
  height: 8rem;
  margin: 0 auto; 
  /* padding-top: 10px; */
  border-radius: 11px;
  border: 1px solid black;

}
.row
{
text-align: center;
justify-content: end;
align-items: normal;
padding: 80px;
}
.hr-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  font-size:38px;
  font-weight:bold;

}

.hr-with-text::before,
.hr-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 4px solid #e18484;; 
}

.hr-with-text:not(:empty)::before {
  margin-right: 10px;
}

.hr-with-text:not(:empty)::after {
  margin-left: 10px; 
}

    img
  {
border-radius: 16px;
  }


  @media (max-width: 807px) 
  {
   .row
  {
  row-gap: 20px;
  }
  } 

  @media (max-width:580px) 
  {
   .row
  {
  row-gap: 20px;
  display: block;
  margin: 0 auto;
  }
  } 